In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
happiness_2015 = pd.read_csv("Datasets/World_Happiness_2015.csv")
world_dev = pd.read_csv("Datasets/World_dev.csv")

In [3]:
happiness_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [4]:
world_dev.columns

Index(['CountryCode', 'ShortName', 'TableName', 'LongName', 'Alpha2Code',
       'CurrencyUnit', 'SpecialNotes', 'Region', 'IncomeGroup', 'Wb2Code',
       'NationalAccountsBaseYear', 'NationalAccountsReferenceYear',
       'SnaPriceValuation', 'LendingCategory', 'OtherGroups',
       'SystemOfNationalAccounts', 'AlternativeConversionFactor',
       'PppSurveyYear', 'BalanceOfPaymentsManualInUse',
       'ExternalDebtReportingStatus', 'SystemOfTrade',
       'GovernmentAccountingConcept', 'ImfDataDisseminationStandard',
       'LatestPopulationCensus', 'LatestHouseholdSurvey',
       'SourceOfMostRecentIncomeAndExpenditureData',
       'VitalRegistrationComplete', 'LatestAgriculturalCensus',
       'LatestIndustrialData', 'LatestTradeData', 'LatestWaterWithdrawalData'],
      dtype='object')

In [5]:
world_dev.rename({'SourceOfMostRecentIncomeAndExpenditureData':"IESurvey"}, axis = 1, inplace = True)

In [6]:
world_dev["ShortName"].head()

0       Afghanistan
1           Albania
2           Algeria
3    American Samoa
4           Andorra
Name: ShortName, dtype: object

In [7]:
world_dev.rename({'ShortName':"WorldDev_Country"}, axis = 1,inplace = True)

In [9]:
world_dev["WorldDev_Country"].head()

0       Afghanistan
1           Albania
2           Algeria
3    American Samoa
4           Andorra
Name: WorldDev_Country, dtype: object

In [11]:
print(world_dev['WorldDev_Country'].head(2))
print(happiness_2015.Country.head(2))

0    Afghanistan
1        Albania
Name: WorldDev_Country, dtype: object
0    Switzerland
1        Iceland
Name: Country, dtype: object

In [13]:
happiness = pd.merge(left=happiness_2015,right=world_dev , how = "right" ,left_on= "Country" ,right_on= "WorldDev_Country")
happiness[['Country','WorldDev_Country']].head()

       Country WorldDev_Country
0  Switzerland      Switzerland
1      Iceland          Iceland
2      Denmark          Denmark
3       Norway           Norway
4       Canada           Canada

In [18]:
happiness['Country'].isnull().sum()

102

In [19]:
happiness['WorldDev_Country'].isnull().sum()

0

In [20]:
happiness.columns

Index(['Country', 'Region_x', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'CountryCode', 'WorldDev_Country',
       'TableName', 'LongName', 'Alpha2Code', 'CurrencyUnit', 'SpecialNotes',
       'Region_y', 'IncomeGroup', 'Wb2Code', 'NationalAccountsBaseYear',
       'NationalAccountsReferenceYear', 'SnaPriceValuation', 'LendingCategory',
       'OtherGroups', 'SystemOfNationalAccounts',
       'AlternativeConversionFactor', 'PppSurveyYear',
       'BalanceOfPaymentsManualInUse', 'ExternalDebtReportingStatus',
       'SystemOfTrade', 'GovernmentAccountingConcept',
       'ImfDataDisseminationStandard', 'LatestPopulationCensus',
       'LatestHouseholdSurvey', 'IESurvey', 'VitalRegistrationComplete',
       'LatestAgriculturalCensus', 'LatestIndustrialData', 'LatestTradeData',
       'LatestWaterWithdrawalData'],
      dtype='object')

In [24]:
happiness['CurrencyUnit'].head(10)

0           Swiss franc
1         Iceland krona
2          Danish krone
3       Norwegian krone
4       Canadian dollar
5                  Euro
6                  Euro
7         Swedish krona
8    New Zealand dollar
9     Australian dollar
Name: CurrencyUnit, dtype: object

In [29]:
# happiness['Currency'] = happiness['CurrencyUnit'].str.split().str[1]
happiness['Currency'] = happiness['CurrencyUnit'].str.split().str.get(-1)
happiness['Currency'].head(10)

0     franc
1     krona
2     krone
3     krone
4    dollar
5      Euro
6      Euro
7     krona
8    dollar
9    dollar
Name: Currency, dtype: object

In [31]:
happiness["Currency"].str.len().head()

0    5.0
1    5.0
2    5.0
3    5.0
4    6.0
Name: Currency, dtype: float64

In [33]:
happiness["SpecialNotes"].head()

0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4    Fiscal year end: March 31; reporting period fo...
Name: SpecialNotes, dtype: object

* national accounts, National accounts

# Regular Expression

In [41]:
pattern = r"[Nn]ational accounts"
search = happiness["SpecialNotes"].str.contains(pattern)
search.head()

0     NaN
1     NaN
2     NaN
3     NaN
4    True
Name: SpecialNotes, dtype: object

In [42]:
happiness[search == True]["SpecialNotes"].head()

4     Fiscal year end: March 31; reporting period fo...
7     Fiscal year end: June 30; reporting period for...
8     Fiscal year end: March 31; reporting period fo...
9     Fiscal year end: June 30; reporting period for...
14    Fiscal year end: September 30; reporting perio...
Name: SpecialNotes, dtype: object

In [72]:
pattern = r"([Nn]ational) (accounts)"
happiness["SpecialNotes"].str.extract(pattern).head()

          0         1
0       NaN       NaN
1       NaN       NaN
2       NaN       NaN
3       NaN       NaN
4  national  accounts

In [73]:
happiness["SpecialNotes"].str.extractall(pattern).head(20)

                 0         1
   match
4  0      national  accounts
7  0      national  accounts
8  0      national  accounts
9  0      national  accounts
14 0      national  accounts
19 0      national  accounts
23 0      national  accounts
   1      National  accounts
31 0      national  accounts
33 0      national  accounts
37 0      national  accounts
43 0      national  accounts
44 0      National  accounts
49 0      National  accounts
   1      National  accounts
53 0      national  accounts
59 0      National  accounts
61 0      national  accounts
68 0      national  accounts
69 0      national  accounts

* 1927 - 2019

In [76]:
pattern = r"[1-2][0-9][0-9][0-9]"

In [77]:
search = happiness["SpecialNotes"].str.contains(pattern)
happiness[search == True]["SpecialNotes"].head()

5     A simple multiplier is used to convert the nat...
6     A simple multiplier is used to convert the nat...
9     Fiscal year end: June 30; reporting period for...
10    Based on official government statistics for ch...
12    A simple multiplier is used to convert the nat...
Name: SpecialNotes, dtype: object

In [86]:
# 2016
pattern = r"(?P<Year>[2][0][0-1][1-9])"

In [87]:
search = happiness["SpecialNotes"].str.extract(pattern)
search.head(20)

    Year
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9   2008
10   NaN
11   NaN
12   NaN
13  2008
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19  2013

In [91]:
pattern = r"(?P<Year>[1-2][0-9]{3})/(?P<Partly>[0-9]{2})"
happiness["SpecialNotes"].str.extract(pattern)

     Year Partly
0     NaN    NaN
1     NaN    NaN
2     NaN    NaN
3     NaN    NaN
4     NaN    NaN
5     NaN    NaN
6     NaN    NaN
7     NaN    NaN
8     NaN    NaN
9     NaN    NaN
10    NaN    NaN
11    NaN    NaN
12    NaN    NaN
13    NaN    NaN
14    NaN    NaN
15    NaN    NaN
16    NaN    NaN
17    NaN    NaN
18    NaN    NaN
19    NaN    NaN
20    NaN    NaN
21    NaN    NaN
22    NaN    NaN
23    NaN    NaN
24    NaN    NaN
25    NaN    NaN
26    NaN    NaN
27    NaN    NaN
28    NaN    NaN
29    NaN    NaN
..    ...    ...
217   NaN    NaN
218  2008     09
219   NaN    NaN
220   NaN    NaN
221   NaN    NaN
222   NaN    NaN
223   NaN    NaN
224   NaN    NaN
225   NaN    NaN
226   NaN    NaN
227   NaN    NaN
228   NaN    NaN
229   NaN    NaN
230   NaN    NaN
231   NaN    NaN
232   NaN    NaN
233   NaN    NaN
234   NaN    NaN
235   NaN    NaN
236   NaN    NaN
237   NaN    NaN
238   NaN    NaN
239  2010     11
240   NaN    NaN
241   NaN    NaN
242   NaN    NaN
243   NaN    NaN
244   NaN    NaN
245   NaN    NaN
246   NaN    NaN

[247 rows x 2 columns]